 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Statistics</h2>
      <i class="devicon-r-original colored"></i>
      <i class="devicon-numpy-original-wordmark colored"></i>
      <i class="devicon-pandas-original-wordmark colored"></i>
      <p>Skilled in Probability and Statistical Analysis using R and Python.
      </p>
    </div>
    <div class="tech">
      <h2>Computer Science</h2>
      <i class="devicon-python-plain-wordmark colored"></i>
      <i class="devicon-googlecloud-plain colored"></i>
      <i class="devicon-cplusplus-plain colored"></i>
      <p>Experienced with API and Web Scraping using Python, Cloud Computing (GCP, AWS), and Data Structures and Algorithms with C++ and Python.
      </p>
    </div>
    <div class="tech">
      <h2>Data Science</h2>
      <i class="fa fa-file-excel-o" aria-hidden="true"></i>
      <i class="devicon-mysql-plain-wordmark colored"></i>
      <i class="devicon-git-plain"></i>
      <p>Proficient in Exploratory Data Analysis with Python, Excel, SQL, Data Visualization with Tableau, and Machine Learning with ScikitLearn, Keras.
      </p>
    </div>
</div>
