<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Stock Market Prediction in Python </h3>
    <ul>
      <li> Python</li>
    </ul>
    <p>Utilized Yahoo Finance API to collect data, using Pandas for data cleaning and preprocessing. Employed data visualization with Matplotlib and Seaborn to identify trends in the data. Implemented LSTM algorithm to forecast stock prices using Scikit Learn and Keras.</p>
    <a class="project-link" href="https://www.kaggle.com/code/andrewsosaguaita/stockmarketpredictionlstm">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Blockchain in C++ </h3>
    <ul>
      <li> C++</li>
    </ul>
    <p>Developed a blockchain in C++ using the SHA-256 hashing algorithm to encrypt block data. Project makes use of OOP principles such as encapsulation and inheritance for security.</p>
    <a class="project-link" href="https://github.com/andrewsosag/blockchainCpp">Check it out</a>
  </div>
</div>
