<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="python" src="{{ "/assets/img/ticketsaver.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> TicketSaver: Concert Ticket Price Tracker </h3>
    <ul>
      <li> Python, NoSQL, API, Google Cloud</li>
    </ul>
    <p> Developed TicketSaver.org to monitor and analyze concert ticket prices for 5000+ concerts using Python and the Ticketmaster API, enabling consumers to identify ticket purchasing opportunities. Designed a NoSQL database, automating data extraction and preprocessing with Python. Created an interactive dashboard with JavaScript for real-time visualizations of ticket pricing trends.
       </p>
    <a class="project-link" href="https://ticketsaver.org/" target="_blank" rel="noopener noreferrer">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="blockchain" src="{{ "/assets/img/berkeleynest.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> BerkeleyNest: Berkeley Housing Project </h3>
    <ul>
      <li> Python, NoSQL, Web Scraping, Google Cloud</li>
    </ul>
    <p> Launched BerkeleyNest.com, a comprehensive platform for analyzing Berkeley’s apartment market. Utilized Python for automated data scraping and preprocessing, and NoSQL for data management. Created interactive analytics tools using JavaScript to provide insights into rental market trends. Developed a random forest model with TensorFlow to accurately predict fair rental prices.
      </p>
    <a class="project-link" href="https://berkeleynest.com/" target="_blank" rel="noopener noreferrer">Check it out</a>
  </div>
</div>
