<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="python" src="{{ "/assets/img/ticketsaver.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> TicketSaver: Concert Ticket Price Tracker </h3>
    <ul>
      <li> Python, NoSQL, API, HTML, CSS, JavaScript, Google Cloud Platform</li>
    </ul>
    <p>Developed TicketSaver.org to track and analyze concert ticket prices leveraging the Ticketmaster API for real-time insights. Implemented a NoSQL database, utilizing Python for automated data retrieval and storage. Created a front-end interface with HTML, CSS, and JavaScript featuring interactive data visualizations of ticket pricing trends.
       </p>
    <a class="project-link" href="https://ticketsaver.org/" target="_blank" rel="noopener noreferrer">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="blockchain" src="{{ "/assets/img/berkeleynest.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> BerkeleyNest: Berkeley Housing Project </h3>
    <ul>
      <li> Python, NoSQL, Web Scraping, HTML, CSS, JavaScript, Google Cloud Platform </li>
    </ul>
    <p>Launched BerkeleyNest.com a platform for analyzing Berkeley's apartment rental market. Utilized Python for web scraping and NoSQL for database management on Google Cloud Platform. Designed interactive analytical tools providing insights into housing market trends.
      </p>
    <a class="project-link" href="https://berkeleynest.com/" target="_blank" rel="noopener noreferrer">Check it out</a>
  </div>
</div>
